@charset "UTF-8";

        body {

            margin: 0;
            padding: 0;
            overflow-x: hidden;
            box-sizing: border-box;
        }
        header {
            height: 100vh;
        }

        #open{
          transition: all .4s ease;
        }

        .video-background {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -10;
        }
        #background-video {
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -4;
          transform: translate(-53.4%, -50%);
      }
      
        nav {
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            font-weight: bold;
            color:black;
            width: 90%;
            padding-top: 30px;
            margin: 0 auto;
        }
        nav a{
          text-decoration: none;
          color: #000;
          font-size: 40px;
        }

        

        .hidden-menu{
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          height: 100vh;
          justify-content: center ;
          align-items: center;
          background-color: #ffffff;
          width: 250px;
          z-index: -5;
        }

        .hidden-menu a {
          padding: 20px 0;
          font-size: 25px;
          text-decoration: none;
          color: #000;
          cursor: pointer;
        }

        .none{
          display: none;
        }

        .show{
          display: flex;
          z-index: 1000;
        }

        .slide{
          transform: translateX(-250px);
        }



        .hero {
            padding: 160px 20px;
            width: 90%;
            margin: 0 auto;
            color: #e6f3ff;

        }
        .hero h1 {
            font-size: 5rem;
            font-weight: bold;
            margin-bottom: 10px;
            line-height: 0.1;
        }

        .hero h2 {
            font-size: 3.5rem;
            font-weight: bold;
            line-height: 0.5;
        }

        .hero p{
          width: 50%;
          font-size: 20px;
        }
        .button {
            background-color: white;
            color:black;
            padding: 10px 30px;
            text-decoration: none;
            display: inline-block;
            margin-top: 20px;
            display: inline-block;         

        }
        .button:hover{
          transform-origin: left center;  
          transform: scaleX(1.2);          
          white-space: nowrap;            
          transition: all .3s ease;
        } 

        .sns-icons{
          display: flex;
          justify-content: space-between;
          width: 170px;
          margin-top: 13%;
        }
        .sns-icons > a:hover{
          transform: translateY(-20px);
          transition: all .5s ;
        }


        .container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin: 0 auto;
      }
      
      .content {
          flex: 3; 
          padding-top: 20px;
      }
      
      .main-content p {
          color: #333;
          margin-bottom: 10px;
          text-align: center;
          font-weight: bold;
          font-size: 15px;
      }
      
      .main-content p {
          line-height: 1.6;
          color: #333;
      }
      
      .important-points {
        margin-top: 60px;
        min-height: 300px;
          background-color: #70f270;
          position:relative;
          z-index: -2;

      }
      .important-points h2{
        margin: 0 auto;
        width: 100%;
        padding-bottom: 5px;
        position: relative;
        display: inline-block;
        margin: 30px;
        text-align: center;
      }

      .important-points h2::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 23%;
        width: 50%;
        padding: 0 10px;
        height: 15px; /* マーカーの太さ */
        background-color: #d45167; /* マーカーの色（ピンク） */
        z-index: -1;
    }

      .important-words{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 10px;
        width: 90%;
        justify-content: space-evenly;
      }
      
      .important-words > span {
          background-color: #d8d7d7;
          padding: 9px 0;
          border-radius: 50px 0 0 50px;
          font-weight: bold;
          font-size: 25px;
      }

      .important-words > span::before{
        content: '⚪ ';
      }
      
      .sidebar {
          flex: 1; 
          background-color: #ffffff;
          padding: 20px;
          height: fit-content;
          border-left: #000 solid 1px;
      }
      
      .sidebar h2 {
          color: #000;

      }
      
      .sidebar p {
          color: #000;
          line-height: 1.6;
      }

      .slide-image{
        display: flex;
        animation: slide 10s linear infinite;
      }

      .slide-image img{
        padding: 0 2px;
      }

      @keyframes slide {
        0%{
          transform: translateX(0);
        }

        100%{
          transform: translateX(-25%);
        }
      }
      
      
      .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item {
        border: 1px solid #0b0b0b;
        padding: 15px;
    }
    .grid-item h2 {
        margin-top: 0;
        color: #333;
    }
    .grid-item p {
        margin-bottom: 0;
    }
